@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
h1 {
  color: rgb(104, 204, 156);
  font-size: 10vw;
  text-align: center;
  font-family: "Montserrat',sans-serif;
}

#heading {
font-family: 'Montserrat', sans-serif;
}
p {
  color: black;
  font-size: 4vw;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button {
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(104, 204, 156);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: 'Montserrat', sans-serif;
}

.button:hover {background-color:rgb(104, 204, 156)}

.button:active {
  background-color: rgb(104, 204, 156);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h2{
    font-family: 'Montserrat', sans-serif;
}

form{
    font-family: 'Montserrat', sans-serif;
}
#p2{
    text-align: left;
    font-size: 25px;
}