<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
body{
align-content: center;
background-color: rgb(104, 204, 156);
font-family: "Montserrat',sans-serif;
}
button {
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(104, 204, 156);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: 'Montserrat', sans-serif;
}

.button:hover {background-color:rgb(104, 204, 156)}

.button:active {
  background-color: rgb(104, 204, 156);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
<body>
    <center><div class="card" style="width: 18rem;">
        <img style= height:55%;width:100%; class="card-img-top" src="static/images/aveeno.jpeg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Aveeno Moisturizer</h5>
        <p class="card-text">This fast-absorbing formula starts to work immediately and restores essential moisture to help balance skin’s microbiome for healthier-looking skin. Clinically proven to soothe itch and help heal dry skin in 1 day, Skin Relief is your skin’s best daily defense against dryness.</p>
        <p class="card-text">$6.99</p>
        <button>
            <a href="https://www.riteaid.com/shop/aveeno-active-naturals-moisturizing-lotion-24-hr-skin-relief-12-fl-oz-354-ml-0355912?gclid=CjwKCAjwgISIBhBfEiwALE19SRglrgkc7pjdXgacqGGt2aVVPzKn6yyWkJaCNwFh7c4xOOh5L4jF_RoCbi8QAvD_BwE" target="_blank">Click here to purchase.</a>
        </button>
        </div>
    </div>
</body>