<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body>
    <div class="card" style="width: 18rem;">
        <img style= height:55%;width:100%; class="card-img-top" src="static/images/neutrogena.jfif" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Neuttrogena Sensitive Skin Sunscreen</h5>
        <p class="card-text">This oil-free sunscreen lotion for sensitive skin goes on evenly, absorbs quickly, and feels ultra light, all while providing superior broad-spectrum UVA/UVB sun protection.</p>
        <p class="card-text">$8.29</p>
        </div>
    </div>
</body>